.project
/Diagrammi/.metadata
/Diagrammi/.metadata
/Diagrammi/.metadata
HogwartsBattle/HogwartsBattle/.settings/org.eclipse.core.resources.prefs
HogwartsBattle/HogwartsBattle/.settings/org.eclipse.jdt.apt.core.prefs
HogwartsBattle/HogwartsBattle/.settings/org.eclipse.jdt.core.prefs
HogwartsBattle/HogwartsBattle/bin/target/classes/META-INF/MANIFEST.MF
HogwartsBattle/HogwartsBattle/bin/target/classes/META-INF/maven/HogwartsBattle/HogwartsBattle/pom.properties
HogwartsBattle/HogwartsBattle/bin/target/classes/META-INF/maven/HogwartsBattle/HogwartsBattle/pom.xml
